<h1>The Lastest Thoughts</h1>



<% @posts.each do |post| %>
  <div class="col-xs-12 col-sm-4 text-center">
    <div class="layer">
      <h3><%= post.title %></h3>
      <p><%= post.description %></p>
    </div>

  </div>
<% end %>

